.about-content {
  padding: 100px;
}

.about-content h2 {
  width: 60%;
  text-align: center;
  color: #001d38;
  font-size: 30px;
  font-weight: 600;
  line-height: 42px;
  margin: 0 auto 50px auto;
}

.about-content_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  height: 480px;
}

.about-content_card img {
  border-radius: 40px;
}

.about-content_card .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about-content_card .info h4 {
  font-size: 50px;
  font-weight: 600;
}

.about-content_card .info p {
  font-size: 15px;
  font-weight: 400;
  color: #727272;
}

.about-content_card_button {
  display: inline-block;
  width: 200px;
}
